{% load static %}

<div class="footer-links">
    <div class="footer-logo">
        <a href="{% url 'main_page' %}">
            <img src="{% static 'images/Alfa-romeo-quadrifoglio-logo.png' %}" alt="">
        </a>
    </div>
    <div class="contacts footer-div">
        <h2>Contacts:</h2>
         <ul>
            <li class="">
                <p>
                    <i class="fa-solid fa-phone"></i> 0899 XX XX XX
                </p>
            </li>
            <li class="">
                <p>
                    <i class="fa-solid fa-envelope"></i> gmail@gmail.com
                </p>
            </li>
           <div class="links-web">
               <ul>
                   <li>
                       <a href="">
                           <i class="fa-brands fa-linkedin"></i>
                       </a>
                   </li>
                   <li>
                       <a href="">
                           <i class="fa-brands fa-square-facebook"></i>
                       </a>
                   </li>
                   <li>
                       <a href="">
                           <i class="fa-brands fa-square-instagram"></i>
                       </a>
                   </li>
               </ul>
           </div>
        </ul>
    </div>
    <div class="about-museum footer-div">
        <h2>Museum:</h2>
         <ul>
             {% for category in museum_categories %}
                 <li>
                     <a href="{% url 'museum_listing' %}?category={{ category.id }}">{{ category.name }}</a>
                 </li>
             {% endfor %}
        </ul>
    </div>
     <div class="merch footer-div">
        <h2>Store:</h2>
         <ul>
            {% for category in product_categories %}
                 <li>
                     <a href="{% url 'products_list' %}?category={{ category.id }}">{{ category.name }}</a>
                 </li>
             {% endfor %}
        </ul>
    </div>
</div>
<p class="rights-reserved">
   © Alfa Romeo Web, All Right Reserved. By Miroslav Hristov
</p>