{% load static %}
{% load cart_template_tags %}

<a href="{% url "main_page" %}" class="logo-a">
    <img src="{% static 'images/header_logo.png' %}" alt="Logo" class="logo">
</a>

<div class="dropdown-wrapper"> 

     <button class="drop-btn">
      <i class="fa-solid fa-bars"></i>
    </button>
    
    <div class="dropdown-content-mobile" id="dropdownContent">
    
        <nav class="navigation">
        
            <ul class="list" role="list">

                <div class="dropdown">

                    <li class="nav-item {% if '/museum/' in request.path %}active{% endif %}">

                        <a href="{% url "museum_categories" %}">Museum <i class="fa-solid fa-angles-down"></i></a>

                        <div class="dropdown-content">

                            {% for category in museum_categories %}
                                <a href="{% url 'museum_listing' %}?category={{ category.id }}">{{ category.name }}</a>
                            {% endfor %}

                        </div>

                    </li>

                </div>

                <div class="dropdown">

                    <li class="nav-item {% if '/history/' in request.path %}active{% endif %}">

                        <a href="{% url 'history_categories' %}">History <i class="fa-solid fa-angles-down"></i></a>

                        <div class="dropdown-content">
                            {% for category in history_categories %}
                                <a href="{% url 'history_list' %}?category={{ category.id }}">{{ category.name }}</a>
                            {% endfor %}
                        </div>

                    </li>

                </div>

                <li class="nav-item {% if '/events/' in request.path %}active{% endif %}">
                    <a href="{% url 'events_list' %}">Events</a>
                </li>

                <li class="nav-item {% if '/news/' in request.path %}active{% endif %}">
                    <a href="{% url 'news_list' %}">News</a>
                </li>

                <li class="nav-item {% if '/products/tickets/' in request.path %}active{% endif %}">
                    <a href="{% url 'tickets_list' %}">Tickets</a>
                </li>

                <div class="dropdown">

                    <li class="nav-item {% if '/products/' in request.path and '/products/tickets/' not in request.path %}active{% endif %}">

                        <a href="{% url 'products_list' %}">Store <i class="fa-solid fa-angles-down"></i></a>

                        <div class="dropdown-content">

                            {% for category in product_categories %}
                                <a href="{% url 'products_list' %}?category={{ category.id }}">{{category.name}}</a>
                            {% endfor %}

                        </div>

                    </li>

                </div>

                <li class="nav-item {% if '/forum/' in request.path %}active{% endif %}">
                    <a href="{% url 'forum_main_page' %}">Forum</a>
                </li>
            
                {% if not user.is_authenticated %}
                    
                    <li class="nav-item">
                        <a href="{% url 'login-user' %}">Sign In</a>
                    </li>
                    
                {% else %}
                    
                    <li class="nav-item">
                        <a href="{% url 'cart_details' %}">
                            <i class="fa-solid fa-cart-shopping"> {{ request.user | cart_item_count }}</i>
                        </a>
                    </li>
                    
                     <div class="dropdown">
                     
                        <li class="nav-item last-nav-item">
                        
                            <a href="{% url 'details-profile' pk=request.user.pk %}">
                                <i class="fa-solid fa-user"></i>
                            </a>
                        
                            <div class="dropdown-content">
                            
                                <form method="post" action="{% url 'logout-user' %}">{% csrf_token %}<button type="submit" class="dropdown-logout-btn">Log Out</button></form>
                                <a href="{% url 'edit-profile' pk=request.user.pk %}">Edit Profile</a>
                                <a href="{% url 'details-profile' pk=request.user.pk %}">View Profile</a>
                                <a href="{% url 'password-change' pk=request.user.pk %}">Change Password</a>
                            
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'admin:index' %}">Admin Panel</a>
                                    <a href="{% url 'staff_panel' %}">Staff Panel</a>
                                {% elif request.user.is_staff %}
                                    <a href="{% url 'staff_panel' %}">Staff Panel</a>
                                {% endif %} 
                            
                            </div>
                        
                        </li>
                     
                    </div>
                    
                {% endif %}
        
            </ul>
        
        </nav>
    
    </div>

 </div>

<script>

    document.addEventListener("DOMContentLoaded", function() {
        var dropdownBtn = document.querySelector('.drop-btn');
        var dropdownContent = document.getElementById('dropdownContent');
        var icon = dropdownBtn.querySelector('i');
        var isDropdownOpen = false;

        function toggleDropdown() {
            if (window.innerWidth <= 600) {
                dropdownContent.style.display = isDropdownOpen ? "block" : "none";
            } else {
                dropdownContent.style.display = "block";
            }
        }

        dropdownBtn.addEventListener('click', function() {
            isDropdownOpen = !isDropdownOpen;
            icon.classList.toggle('fa-bars', !isDropdownOpen);
            icon.classList.toggle('fa-times', isDropdownOpen);
            toggleDropdown();
        });

        window.addEventListener('resize', function() {
            if (window.innerWidth > 600 && isDropdownOpen) {
                isDropdownOpen = false;
                icon.classList.remove('fa-times');
                icon.classList.add('fa-bars');
            }
            toggleDropdown();
        });
    });

</script>