{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static "/style/history_museum_categories.css" %}">
{% endblock %}

{% block main_content %}

    <div class="content">

        {% for category in object_list %}
            
            <a href="{% url 'museum_listing' %}?category={{ category.id }}">
            
                <div class="museum-category">
                    
                    <h3>{{ category.name }}</h3>
                    <div class="museum-img-container">
                        <img src="{{ category.img_field.url }}" alt="{{ category.name }} img">
                    </div>
                    
                </div>
            
            </a>

        {% endfor %}
    
    </div>

{% endblock %}