{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static "/style/history_details.css" %}">
{% endblock %}

{% block main_content %}
    
    <div class="wrapper">
    
        <div class="history-details">
        
            <a href="{% url 'history_categories' %}"><i class="fa-solid fa-angles-left"></i> Back</a>
        
            {% for obj in object_list %}
                
                <h2>{{ obj.header }}</h2>
                
                <div class="description-photo">
                
                    <div class="image-container">
                        <img src="{{ obj.img_field.url }}" alt="{{ obj.header }} img">
                    </div>
                    
                    <div class="paragraphs">
                        <p>{{ obj.description | linebreaks }}</p>
                    </div>
                
                </div>
                
            {% endfor %}
        
        </div>
    
    </div>

{% endblock %}