{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static "/style/product_staff_list.css" %}">
{% endblock %}

{% block main_content %}

    <div class="container">
     
          
        
         <div class="wrapper">
                <div class="order-by">
                        <form action="" method="get" id="order-form">
                                <input type="hidden" name="Search" value="{{ search_query }}">
                                <label for="order_by">Order By:</label>
                                <select name="order_by" id="order_by">
                                    <optgroup label="Order By">
                                        <option value="is_active" {% if order_by == 'is_active' %}selected{% endif %}>Active</option>
                                        <option value="not_active" {% if order_by == 'not_active' %}selected{% endif %}>Not Active</option>
                                        <option value="created" {% if order_by == 'created' %}selected{% endif %}>Date</option>
                                    </optgroup>
                                </select>
                                <input type="submit" style="display: none;"> 
                        </form>
    
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        <script>
                            $(document).ready(function() {
                                $('#order_by').change(function() {
                                    $('#order-form').submit(); 
                                });
                            });
                        </script>
                </div>
                
                <div class="search-field">
                    <form method="GET" action="{% url 'staff_history' %}">
                        <input type="text" name="Search" placeholder="Search by history title..." value="{{ search_query }}">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
         
                <div class="create-product">
                    <a href="{% url 'staff_create_history' %}">Create History</a>
                </div>
         
                <h2>History</h2>
         
         
                 {% for obj in object_list %}
                    <div class="topic {% if obj.is_active %}active-product{% else %}not-active-product{% endif %}">
                        <h3>{{ obj.header }}</h3>
                        <a href="{% url 'staff_edit_history' pk=obj.pk %}">Edit</a>
                    </div>
                {% endfor %}
         
        
     
                {% if is_paginated %}
                    <div class="paginate-wrap">
                        <nav>
                            <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}&order_by={{ order_by }}"><i class="fa-solid fa-angles-left"></i></a></li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="active"><a href="?page={{ i }}&order_by={{ order_by }}">{{ i }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ i }}&order_by={{ order_by }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}&order_by={{ order_by }}"> <i class="fa-solid fa-angles-right"></i></a></li>
                            {% endif %}
                        </ul>
                        </nav>
                    </div>
                {% endif %}
         </div>
     </div>
    
{% endblock %}