{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static "/style/forum_edit_topic.css" %}">
{% endblock %}

{% block main_content %}
    
     <div class="container">
     
        <div class="wrapper">
            
            <h2>Create new History</h2>

            <form method="post" action="{% url 'staff_create_history' %}" enctype="multipart/form-data">
                {{ form }}
                {% csrf_token %}
                <div class="buttons">
                    <button>Create</button>
                </div>
            </form>
            
        </div>
     
     </div>
    
{% endblock %}