{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static "/style/forum_edit_topic.css" %}">
{% endblock %}

{% block main_content %}
    
     <div class="container">
     
        <div class="wrapper">
            
            <h2>Edit History</h2>

            <form method="post" action="{% url 'staff_edit_history' pk=object.pk %}" enctype="multipart/form-data">
                {{ form }}
                {% csrf_token %}
                <div class="buttons">
                    <button>Update</button>
                    <a href="{% url 'staff_delete_history' pk=object.pk %}">Delete History</a>
                </div>
            </form>
            
        </div>
     
     </div>
    
{% endblock %}