{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
        <link rel="stylesheet" href="{% static "/style/product_staff_delete.css" %}">
{% endblock %}

{% block main_content %}
    
    <div class="product-delete">
    
        <form method="post" action="{% url 'staff_delete_history' pk=object.pk %}">
            
            <div class="delete-div">
                
                <h2>Are you sure you want to delete this history?</h2>
                
                <div class="buttons">
                    <button>Yes</button>
                    <a class="edit-btn" href="{% url "staff_edit_history" pk=object.pk %}">Go Back</a>
                </div>
            
            </div>
            
            {% csrf_token %}
            
        </form>
    
    </div>

{% endblock %}