{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static "/style/events_list.css" %}">
{% endblock %}

{% block main_content %}
    
    <div class="event-content">
    
        <div class="event-cards-container">
            
            {% for event in object_list %}
                
                <div class="event-card">
                
                    <h2>{{ event.title }}</h2>
                    
                    <div class="image-container">
                        
                        {% if event.images.first %}
                            <img src="{{ event.images.first.image.url }}" alt="{{ event.title }} img">
                        {% else %}
                            <img src="{% static 'images/No-Image-Placeholder.svg.png' %}" alt="{{ event.title}} img">
                        {% endif %}
                        
                    </div>
                    
                    <p>{{ event.description|slice:":250" }}...</p>
                    <a href="{% url 'event_details' slug=event.slug %}">Full Information</a>
                
                </div>
                
            {% endfor %}
        
        </div>
    
                {% if is_paginated %}
                    <div class="paginate-wrap">
                        <nav>
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-angles-left"></i></a></li>
                                {% endif %}
                                {% for i in paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% else %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }}"> <i class="fa-solid fa-angles-right"></i></a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                {% endif %}
    
    </div>

{% endblock %}