{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static "/style/event_details.css" %}">
{% endblock %}

{% block main_content %}
    
    <div class="event-detail-content"
         style="background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url({{ object.img_field.url }});">
    
        <div class="event-detail-container">
            
           
                <div class="event-card">
                    
                    <a href="{% url 'events_list' %}"><i class="fa-solid fa-angles-left"></i> Back</a>
                    <h2>{{ object.title }}</h2>
{#                    #}
{#                    <div class="image-container">#}
{#                    #}
{#                         {% if object.images.first %}#}
{#                            <img src="{{ event.images.first.image.url }}" alt="{{ event.title }} img">#}
{#                        {% endif %}#}
{##}
{#                    </div>#}
{#                    #}
{#                    {% if object.images.count > 1 %}#}
{#                        <div class="all-event-images">#}
{#                        #}
{#                            {% for image in object.images.all %}#}
{#                                <div class="one-image">#}
{#                                    <img src="{{ image.image.url }}" alt="{{ object.title }} img">#}
{#                                </div>#}
{#                            {% endfor %}#}
{#                            #}
{#                        </div>#}
{#                    {% endif %}#}
                    <div class="image-container">
                        {% if object.images.first %}
                            <img id="main-image" src="{{ object.images.first.image.url }}" alt="{{ object.title }} img">
                        {% endif %}
                    </div>
                    
                    {% if object.images.count > 1 %}
                    <div class="all-event-images">
                        {% for image in object.images.all %}
                        <div class="one-image">
                            <img class="thumbnail" src="{{ image.image.url }}" alt="{{ object.title }} img">
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                    <div class="event-location-date">
                        
                        <p class="date">Date: {{ event.event_date }}</p>
                        <p class="location">Location: {{ event.location }}</p>
                        
                    </div>
                    
                    <p>{{ object.description | linebreaks }}</p>
                    
                </div>

        </div>
    
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Get all thumbnail images
            var thumbnails = document.querySelectorAll('.thumbnail');
        
            // Add click event listener to each thumbnail
            thumbnails.forEach(function(thumbnail) {
                thumbnail.addEventListener('click', function() {
                    // Get the src attribute of the clicked thumbnail
                    var src = this.getAttribute('src');
        
                    // Set the src attribute of the main image to the clicked thumbnail's src
                    document.getElementById('main-image').setAttribute('src', src);
                });
            });
        });
    </script>

{% endblock %}