.container{
    background-color: #9d9d9d;
}

.back-link{
    position: absolute;
    top: 0;
    margin-top: 20px;
    text-decoration: None;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.wrapper{
    max-width: 900px;
    margin: auto;
    padding: 10px;
    position: relative;
}

.wrapper .profile{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    padding: 6px;
}

.actual-info{
    margin-top: 5px;
}

.wrapper h3{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

.wrapper p{
    margin-left: 10px;
}

.profile .user-info{
    font-weight: bold;
}

.comment-image{
    border-radius: 100px;
    overflow: hidden;
    max-width: 30px;
    max-height: 30px;
    margin-top: 10px;
}
.comment-image img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.image{
    border-radius: 100px;
    overflow: hidden;
    /*max-width: 100px;*/
    /*max-height: 100px;*/
    margin: 0 10px;
    height: 100px;
    width: 100px;
}
.image img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comments-ul{
    margin-left: 20px;
    list-style: none;
}

.comments-ul li{
    text-decoration: none;
    border: solid black 1px;
    padding: 4px 10px;
    border-radius: 10px;
    background-color: #adadad;
    max-width: 750px;
    margin-top: 4px;
    display: flex;
}

.comments-ul li .user-comment{
    font-weight: bold;
}

form textarea{
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

form input{
    margin: 4px 8px 10px 8px;
    text-decoration: none;
    border: solid black 1px;
    background-color: #c5c5c5;
    border-radius: 4px;
    padding: 4px 8px;
    font-weight: bold;
    color: black;
}


.paginate-wrap{
    display: block;
    margin: 10px auto;
    background-color: rgba(255,255,255,0.5);
    border-radius: 20px;
    width: fit-content;
    padding: 3px;
}

.paginate-wrap nav ul{
    display: flex;
}

.paginate-wrap nav ul li{
    margin: 0 10px;
    list-style: none;
    font-weight: 700;
}

.paginate-wrap nav ul li a{
    color: white;
    text-decoration: none;
}

.pagination li.active a {
    color: red;
}

@media (max-width: 800px) {
    .wrapper h3{
        margin-top: 40px;
    }
}

@media (max-width: 500px) {

    .comment-section{
        max-width: 300px;
    }

    .comment-image{
        width: 100%;
        min-width: 30px;
    }

    .image{
        /*width: 30px;*/
        min-width: 30px;
        height: 60px;
        width: 60px;
    }
}