.container{
    background-color: #9d9d9d;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container h2{
    margin: 10px 0;
}

form{
    margin: 30px auto;
}

form p{
    margin-top: 10px;
    display: flex;
    flex-direction: column
}

form input{
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 0px 10px 0px;
    font-size: 15px;
    text-align: center;
    display: block;
}

form button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 30px;
    font-weight: bold;
    border: 2px solid red;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

form button:hover{
    background-color: red;
}