/* HEADER */

/* MAIN */
.password-change{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url("/static/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: white;
    align-content: center;
    background-position-y: 70%;
    max-height: 700px;
    height: 700px;
    align-items: center;
}
.password-change h2{
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}

.password-form-container ::placeholder{
    color: black;
}

.password-form-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 400px;
    text-align: center;
    margin: auto;
}

.password-form-container input{
    background-color: rgba(255,255,255,0.5);
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 0px 10px 0px;
    font-size: 15px;
    text-align: center;
    display: block;
}

.password-form-container input:hover{
    background-color: white;
}

.password-form-container label{
    font-size: 20px;
}
.password-form-container button{
    margin: auto;
    margin-top: 10px;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 30px;
    font-weight: bold;
    border: 2px solid red;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.password-form-container button:hover{
    background-color: red;
}

.password-form-container p{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

/* FOOTER */

@media (max-width: 600px) {
    .password-change h2{
        margin-top: 10px;
    }

    .password-change{
        height: unset;
    }

    .password-change button{
        margin-bottom: 10px;
    }

    .password-form-container{
        max-width: 400px;
        width: 300px;
    }

}