/* HEADER */

/* MAIN */
.profile-details{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url("/static/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: white;
    align-content: center;
    background-position-y: 70%;
    max-height: 700px;
    height: 700px;
    vertical-align: middle;
}

.profile-details h2{
    margin-top: 30px;
    font-size: 30px;
    text-align: center
}

.personal{
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;
    text-align: left;
    color: black;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.personal .personal-info{
    margin: 20px;
}

.personal p{
    margin-top: 10px;
    font-size: 22px;
    font-weight: 600;
}

.personal a{
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    padding: 6px 0;
    text-align: center;
    border-radius: 30px;
    font-weight: bold;
    border: 2px solid red;
    background: transparent;
    color: black;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
}

.personal a:hover{
    background-color: red;
}

.image{
    border-radius: 100px;
    overflow: hidden;
    max-width: 200px;
    max-height: 200px;
    margin: 0 20px;
}

.image img{
    max-width: 200px;
}

/* FOOTER */
