.tickets-wrapper{
    background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)), url("/static/images/cofani-aperti-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: white;
    align-content: center;
    background-position-y: 30%;
    /*max-height: 900px;*/
    height: 700px;
    vertical-align: middle;
}

.tickets-container{
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:4px;
    position: relative;
}

.tickets-categories{
    margin-top: 10px;
    text-align: center;
    color:white;
}

.tickets-categories a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}

.tickets-card{
    width: 270px;
    height: 270px;
    margin: 10px;
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
    position: relative;
}

.tickets-card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px gray;
}

.tickets-card h2{
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 10px;
}

.tickets-card .description{
    margin: 10px;
    color: black;
    text-align: center;
}

.prices-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 5px 15px;
    color: black;
    font-weight: 550;
    position: absolute;
    bottom: 40px;
}

.links-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5px;
    position: absolute;
    bottom: 0;
}

.links-container a{
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    align-items: center;
    /*width: 100px;*/
    /*border: solid 1px red;*/
    background-color: rgba(100, 100, 100, 0.81);
    border-radius: 20px;
    padding: 4px 10px;
    margin: 0 5px 5px 5px;
    font-weight: bold;
    transition: 0.5s;
}

.links-container .add-to-cart{
    background-color: #80d300;
    color: black;
}

.links-container .add-to-cart:hover{
    background-color: greenyellow;
}

.paginate-wrap{
    display: block;
    /*position: absolute;*/
    /*bottom: 70px;*/
    /*left: 50%;*/
    /*transform: translateX(-50%)*/
    margin: 10px auto;
    background-color: rgba(255,255,255,0.5);
    border-radius: 20px;
}

.paginate-wrap nav ul{
    display: flex;
}

.paginate-wrap nav ul li{
    margin: 0 10px;
    list-style: none;
    font-weight: 700;
}

.paginate-wrap nav ul li a{
    color: white;
    text-decoration: none;
}

.pagination li.active a {
    color: red;
}

