{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static "/style/product_details.css" %}">
{% endblock %}

{% block main_content %}

<div class="product-detail">

     <div class="detail-container">
     
        {% if messages %}
            
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            
        {% endif %}
         
         <h2>{{ object.title }}</h2>
            
            <div class="wrapper">
            
                    {% if object.image %}
                        
                        <div class="image-container">
                            <img src="{{ object.image.url }}" alt="{{ object.title}} img">
                        </div>
                        
                    {% else %}
                        
                        <div class="image-container">
                            <img src="{% static 'images/line-icon-for-tickets-vector.jpg' %}" alt="{{ object.title}} img">
                        </div>
                        
                    {% endif %}
            
                     <div class="info">
                     
                        <p>{{ object.description }}</p> 
                         
                          <div class="prices-container">
                                {% if object.discount_price %}
                          {#    TODO: this style should be done in css but didnt work, #}
                                    <p style="text-decoration-line: line-through;" class="underline-price">Price: {{object.price }} $</p>
                                    <p style="color: red" class="discount-price">{{ object.discount_price }} $</p>
                                {% else %}
                                     <p class="normal-price">Price: {{ object.price }} $</p>
                                {% endif %}
                          </div>
                     
                            {% if user.is_authenticated %}
                                <a class="add-to-cart" href="{% url "add_to_cart" slug=object.slug %}">ADD TO CART <i class="fa-solid fa-cart-shopping"></i></a>
                            {% else %}
                                <a class="signin" href="{% url 'login-user' %}">Sign in to purchase</a>
                            {% endif %}
                     </div>
            
            </div>
         
     </div>

</div>

{% endblock %}