{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
        <link rel="stylesheet" href="{% static "/style/password.css" %}">
{% endblock %}

{% block main_content %}

    <div class="password-change">
    
            <div class="password-form-container">
                
                <h2>Password reset complete!</h2>
                <p>Your new password has been set. You can log in.</p>
                
                <div class="reset-psw">
                    <a href="{% url 'login-user' %}" class="btn">Login</a>
                </div>
                
            </div>
    
    </div>

{% endblock %}