{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
        <link rel="stylesheet" href="{% static "/style/password.css" %}">
{% endblock %}

{% block main_content %}

    <div class="password-change">
        <h2>Password reset</h2>
        
        <div class="password-form-container">
            
            <form action="" method="post">
                
                <p>Enter your new password twice below to reset your password.</p>

                {% csrf_token %}

                {% for field in form %}
                        
                      <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% for error in field.errors %}
                          <p >{{ error }}</p>
                        {% endfor %}
                      </p>
                        
                {% endfor %}
            
                <button type="submit">Change my password</button>
                
            </form>
            
        </div>
    
    </div>

{% endblock %}