{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
        <link rel="stylesheet" href="{% static "/style/password.css" %}">
{% endblock %}

{% block main_content %}

    <div class="password-change">
        
        <h2>Password Reset</h2>
    
        <div class="password-form-container">
            
            <h2>Enter valid email, password will be sent there</h2>
            
            <form method="post">
                              
                {% csrf_token %}
                {{ form.as_p }}
                    
                <button>Reset Password</button>
    
            </form>
        
        </div>
    
    </div>

{% endblock %}
