{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
        <link rel="stylesheet" href="{% static "/style/password.css" %}">
{% endblock %}

{% block main_content %}

    
    <div class="password-change">
    
         <h2>Password Change</h2>
        
         <div class="password-form-container">
             
             <form method="post" action="{% url 'password-change' pk=request.user.pk %}">
                 
                {{ form.as_p }}
                {% csrf_token %}
                
                <button>Change Password</button>
                 
             </form>
             
         </div>
            
    </div>
   

{% endblock %}