{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
        <link rel="stylesheet" href="{% static "/style/sign_in_style.css" %}">
{% endblock %}

{% block main_content %}
    
        <div class="content">
        
            <form class="forms" action="{% url 'register-user' %}" method="post">
            
                <div class="login-form-container">
                
{#                    {% csrf_token %}#}
{#                #}
{#                    {% for field in form %}#}
{#                        #}
{#                      <p>#}
{#                        {{ field.label_tag }}<br>#}
{#                        {{ field }}#}
{#                        {% for error in field.errors %}#}
{#                          <p >{{ error }}</p>#}
{#                        {% endfor %}#}
{#                      </p>#}
{#                        #}
{#                    {% endfor %}#}
{#                #}
{#                    <button type="submit">Register</button>#}
{#                     <p>Have an account ?#}
{#                        <a href="{% url 'login-user' %}">Login here</a>#}
{#                    </p>#}
{#                #}
                     {% csrf_token %}
                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>
                                {% if field.name == 'password1' %}
                                    <input type="password" name="{{ field.name }}" placeholder="{{ _('Enter your password') }}" autocomplete="new-password">
                                {% elif field.name == 'password2' %}
                                    <input type="password" name="{{ field.name }}" placeholder="{{ _('Confirm your password') }}" autocomplete="new-password">
                                {% else %}
                                    {{ field }}
                                {% endif %}
                                {% for error in field.errors %}
                                    <span class="error">{{ error }}</span>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        <button type="submit">Register</button>
                        <p>Have an account?
                            <a href="{% url 'login-user' %}">Login here</a>
                        </p>
                </div>
            
            </form>
        
        </div>

{% endblock %}