{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
        <link rel="stylesheet" href="{% static "/style/sign_in_style.css" %}">
{% endblock %}

{% block main_content %}
    
        <div class="content">
        
            <form class="forms" action="{% url "login-user" %}?next={{ next }}" method="post">
                
                <div class="login-form-container">
                    
                    {{ form.as_p }}
                
                    <button type="submit">Log in</button>
                    <p>Don't have an account ?
                        <a href="{% url 'register-user' %}">Register here</a>
                    </p>
                    
                    {% csrf_token %}
                </div>
                
            </form>
        
        </div>
    
{% endblock %}