{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static "/style/forum_post_details.css" %}">
{% endblock %}

{% block main_content %}
    
    <div class="container">
    
        <div class="wrapper">

            {% for category in post.categories.all %}
                
                <a class="back-link" href="{% url 'topics_from_category' slug=category.slug %}">
                    <i class="fa-solid fa-angles-left"></i> Back
                </a>
                
            {% endfor %}

            <h3>{{ post.title }}</h3>

            <div class="profile">
            
                <div class="profile_img">
                
                        <div class="image">
                        
                            {% if post.user.profile_picture %}
                                <img src=" {{ post.user.profile_picture }}" alt="img8" />
                            {% else %}
                                <img src="{% static 'images/no-profile-picture.jpg' %}" alt="img8"/>
                            {% endif %}
                        
                        </div>
                
                </div>
            
                <div>
                    
                    <p class="user-info">Author: {{post.user.first_name}} {{ post.user.last_name }}</p>
                    <p class="user-info">Date posted: {{ post.date }}</p>
                    <p class="actual-info">{{ post.content }}</p>
                    
                </div>
            
            </div>
        
                <ul class="comments-ul">
                
                    {% for comment in comments %}
                        
                        <li>
                            <div class="comment-image">
                                {% if comment.user.profile_picture %}
                                    <img src=" {{ comment.user.profile_picture }}" alt="img8" />
                                {% else %}
                                    <img src="{% static 'images/no-profile-picture.jpg' %}" alt="img8"/>
                                {% endif %}
                            </div>
                            <div class="comment-section">
                                <p class="user-comment">{{ comment.user }}</p>
                                <p class="user-comment">{{ comment.date }}</p>
                                <p class="actual-info">{{ comment.content }}</p>
                            </div>
                        </li>
                        
                    {% endfor %}
                
                </ul>
        
            {% if post.closed %}
                <h4>TOPIC IS CLOSED</h4>
            {% else %}
                
                <form action="." method="post">
                
                    {% csrf_token %}
                    <div>
                        <textarea name="comment" id="" placeholder="comment here ... "></textarea>
                        <input type="submit" value="submit" name="comment-form">
                    </div>
                
                </form>
                
            {% endif %}
            
                 {% if comments.has_other_pages %}
                     
                    <div class="paginate-wrap">
                            <nav>
                                <ul class="pagination">
                                    {% if comments.has_previous %}
                                        <li><a href="?page={{ comments.previous_page_number }}"><i class="fa-solid fa-angles-left"></i></a></li>
                                    {% endif %}
                                    {% for i in comments.paginator.page_range %}
                                        {% if comments.number == i %}
                                            <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
                                        {% else %}
                                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if comments.has_next %}
                                        <li><a href="?page={{ comments.next_page_number }}"><i class="fa-solid fa-angles-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                    </div>
                     
                {% endif %}
            
        </div>
    
    </div>
    
{% endblock %}