{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static "/style/forum_post_details.css" %}">
{% endblock %}

{% block main_content %}
    
    <div class="container">
        <div class="wrapper">
            
            <h3>Topic: {{ post.title }}</h3>
            <hr>
            <p>Author: {{post.user.first_name}} {{ post.user.last_name }}</p>
            <p>Description: {{ post.content }}</p>
            <hr>
            <ul class="comments-ul">
                {% for comment in post.comments.all %}
                    <li>{{ comment }}</li>
                    <p>Author: {{ comment.user }} / Date: {{ comment.date }}</p>
                {% endfor %}
            </ul>
            <form action="." method="post">
                {% csrf_token %}
                <div>
                    <textarea name="comment" id="" placeholder="comment here ... "></textarea>
                    <input type="submit" value="submit" name="comment-form">
                </div>
            </form>
        </div>
    </div>
    
{% endblock %}