{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static "/style/forum_main_page.css" %}">
{% endblock %}

{% block main_content %}
    
    <div class="container">
             <h1>FORUM</h1>
                <div class="wrapper" >
                
                <a class="open-topic" href="{% url 'create_post' %}">Create new topic</a>
                
                    {% if forums %}
                        <h2>Categories</h2>
                        
                        {% for forum in forums %}
                            
                            <div class="content">
                        
                                <h4><a href="{% url 'topics_from_category' slug=forum.slug %}">{{forum.title}} <i class="fa-solid fa-angles-left"></i></a></h4>
                                <p>Description: {{forum.description}} </p>
                                <p>{{forum.num_posts}} Posts</p>
                                
                            </div>
        
                        {% endfor %}
                        
                    {% else %}
                        
                        <div>
                            <h1>Forum is closed</h1>
                        </div>
                        
                    {% endif %}
                    
                </div>
    
    </div>
    
{% endblock %}