{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
        <link rel="stylesheet" href="{% static "/style/forum_main_page.css" %}">
{% endblock %}

{% block main_content %}
    <div class="container">
    
        <div class="wrapper">
            <h2>{{ category }}</h2>
        
            {% for p in post %}
                
                <div class="content">
                    
                    <p>Topic: {{ p.title }}</p>
                    <p>Author: {{p.user.first_name}} {{ p.user.last_name }}</p>
                    <a class="view-topic" href="{% url 'post_details' slug=p.slug %}">View Post</a>
                
                </div>
                
            {% endfor %}
        </div>
    
    </div>
{% endblock %}