{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static "/style/forum_edit_topic.css" %}">
{% endblock %}

{% block main_content %}
    
     <div class="container">
     
        <div class="wrapper">
            
            <h2>Edit post</h2>

            <form method="post" action="{% url 'edit_post' slug=object.slug %}">
                {{ form }}
                {% csrf_token %}
                <div class="buttons">
                    <button>Update</button>
                    <a href="{% url 'delete_post' slug=object.slug %}">Delete Post</a>
                </div>
            </form>
            
        </div>
     
     </div>
    
{% endblock %}