{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static "/style/forum_credentials.css" %}">
{% endblock %}

{% block main_content %}
     <div class="container">
        <h2>In order to use the FORUM you should enter your First and Last Names</h2>
         <form action="{% url 'user_forum_credentials' %}" method="post">
             {{ form.as_p }}
             {% csrf_token %}
             <button>Enter</button>
         </form>
     </div>
{% endblock %}