{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static "/style/forum_edit_topic.css" %}">
{% endblock %}

{% block main_content %}
    
     <div class="container">
     
        <div class="wrapper">
            
            <h2>Edit News</h2>

            <form method="post" action="{% url 'staff_edit_news' slug=object.slug %}" enctype="multipart/form-data">
                {{ form }}
                {% csrf_token %}
                <button>Update</button>
                <a href="{% url 'staff_delete_news' slug=object.slug %}">Delete News</a>
            </form>
            
        </div>
     
     </div>
    
{% endblock %}