{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
        <link rel="stylesheet" href="{% static "/style/main_page_style.css" %}">
{% endblock %}

{% block main_content %}
        <div class="content">
            <h2>Welcome to Alfa Romeo Museum</h2>
            <p>The Museo Alfa Romeo tells the legendary story of the brand, via a project and an 
                installation designed to reflect its: historical presence, beauty and speed,
                 an essential part of the Alfa Romeo Dna. As the visitors admire car after car, 
                 they travel through the companys glorious history and also discover stories and 
                 curious facts with the help of videos, images and interactive access points, 
                 in a crescendo of emotions.
            </p>
            <div class="content-buttons">
                <a class="content-buttons-two" href="{% url "tickets_list" %}">TICKETS</a>
                <a class="content-buttons-two" href="{% url 'museum_categories' %}">MORE INFORMATION</a>
            </div>
        </div>
        <section class="content-two">
            <h3>LATEST EVENTS ADDED FOR 2024</h3>
        
            <section class="events-container">
            
                {% for event in event_list %}
                    <div class="event-card">
                        <h3>{{ event.title }}</h3>
                        <div class="image-container">
                            <img src="{{event.img_field.url}}" alt="{{ event.title}}">
                        </div>
                        <p>{{ event.description|slice:":300" }}</p>
                        <a href="{% url 'event_details' slug=event.slug %}">Full information</a>
                    </div>
                {% endfor %}

            </section>
        </section>
        <section class="content-three">
            <h3>LATEST NEWS</h3>
            <section class="news-container">
                {% for news in news_list %}
                     <div class="news-card">
                    <h3>{{ news.title}}</h3>
                    <div class="image-container">
                        <img src="{{news.img_field.url}}" alt="alfa romeo track">
                    </div>
                         <p>{{ news.description|slice:":300" }}</p>
                    <a href="{% url 'news_details' slug=news.slug %}">Read Article </a>
                </div>
                {% endfor %}
            </section>
        </section>
        <section class="content-four">
            <h3>ALFA ROMEO STORE</h3>
            <section class="merch-container">
                {% for product in products_list %}
                    <div class="merch-card">
                        <h3>{{ product.title }}</h3>
                        <div class="image-container">
                            <img src="{{ product.image.url }}" alt="alfa romeo track">
                        </div>
                        <div class="prices-container">
                        
                                 {% if product.discount_price %}
                          {#    TODO: this style should be done in css but didnt work, #}
                                    <p style="text-decoration-line: line-through;" class="underline-price">Price: {{ product.price }} $</p>
                                    <p style="color: red" class="discount-price">{{ product.discount_price }} $</p>
                                {% else %}
                                     <p class="normal-price">Price: {{ product.price }} $</p>
                                {% endif %}
                        </div>
                        <div class="links-container">
                            <a class="details" href="{% url "product_details" slug=product.slug %}">Details</a>
                            <a class="add-to-cart" href="">ADD TO CART <i class="fa-solid fa-cart-shopping"></i></a>
    {#                      <a href="{% url "add_to_cart" slug=item.slug %}">ADD TO CART</a>#}
                        </div>
                    </div>
                {% endfor %}
            </section>
        </section>
{% endblock %}